.stat-card {
  background-color: #ffffff;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.stat-card h4 {
  color: #007BFF;
  margin-bottom: 10px;
}

.stat-card p {
  font-size: 22px;
  font-weight: bold;
  color: #333;
}
